body{
	margin: auto ;
}

/*Nav Bar*/

ul{
    margin: 0;
	display: flex;
	list-style: none;
	flex-direction: row;
	background-color: rgba(0,255,0,0.8);
	font-size: 1em;
}

@media only screen and (max-width: 600px){
	ul{
		font-size: 0.8em;
		padding: 0;
	}
}

li{
	padding: 20px;
}

a{
	text-decoration: none;
}

.right{
	margin-left: auto;
}

.fix{
	top: 0;
	position: fixed;
	width: 100%;
}

/*Cover Section*/

.cover{
	background-color: orange;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60vh;
}

/*Grid Section*/

.project-grid{
	background-color: rgba(0,0,255,0.8);
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

.images > img{
	width: 100%;
}

.images{
	background-color: #444;
	padding: 70px;
	margin: 20px;
}

.images:hover{
	cursor: pointer;
	transform: rotate(-8deg);
}

/*Footer*/

footer{
	background-color: tomato;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
}